/*
  blackjack.css does the styling for blackjack.html in the front end
*/

body {
    text-align:center;
    background-image:url("https://png.pngtree.com/background/20231018/original/pngtree-detailed-view-of-a-blackjack-table-featuring-chips-and-cards-in-picture-image_5595985.jpg");
    background-size:cover;
    color:white;
    font-size:25px;
  }

  h2 {
    color:blue;
  }

  button {
    width:50px;
    height:25px;
  }