/*
  craps.css does the styling for craps.html in the front end
*/

body {
    text-align:center;
    background-image:url("https://img.freepik.com/premium-photo/craps-table-with-dice-casino-elements-background-generative-ai_124507-62433.jpg");
    background-size:cover;
    color:white;
    font-size:25px;
  }
  
  h2 {
    color:blue;
  }

  button {
    width:50px;
    height:25px;
  }