/*
  roulette.css does the styling for roulette.html in the front end
*/

body {
    text-align:center;
    background-image:url("https://png.pngtree.com/background/20230617/original/pngtree-abstract-background-with-aces-cards-chips-and-dice-surrounding-3d-roulette-picture-image_3706188.jpg");
    background-size:cover;
    color:white;
    font-size:25px;
  }

  h2 {
    color:blue;
  }

  button {
    width:50px;
    height:25px;
  }