<!-- craps.html runs the front end code for the craps python game-->

<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='craps.css') }}">
    <script src="{{ url_for('static', filename='home.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ url_for('static', filename='craps.js') }}"></script>
</head>
<body>
    <h1>Craps</h1>
    <h2 id="result">{{ result }}</h2>
    <button id="backButton" onclick="handleButtonClick('/home')">Back</button>
    <p>Welcome to the Craps table.</p>

    <!-- A button to open the popup instructions -->
    <button class="open-button" onclick="openForm()">Open Instructions</button>

    <!-- The instructions -->
    <div class="form-popup" id="myForm">
    <form action="/action_page.php" class="form-container">
        <p>Welcome to Craps! Your goal is to see whether the dice will roll a winning number.</p>
        <p>In the first round, if you roll a 7 or 11, you win. If you roll a 2, 3, or 12, you automatically lose.</p>
        <p>Any other combination of values will be added to the point, and you will continue rerolling until you get that number again or roll a 7, in which you lose</p>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
    </div>

    <h1>The bet and bet type</h1>


    <label for="bet">Bet:</label>
    <input type="text" id="bet" bet="bet"><br><br>
    <label for="type">Pick a Bet:</label>
    <select name="type" id="type">
      <option value="passLineBet">Pass Line Bet</option>
      <option value="dontPassBet">Dont Pass Bet</option>
    </select>
    <button id="rollButton" onclick="roll()">Roll</button>
    <p id="output"></p>

    <script>
        $(document).ready(function() {
            // Make an asynchronous request to the server after the page is loaded
            $.get('/execute_craps');
            
            function roll() {
                var bet = document.getElementById("bet")
                var bet_type = document.getElementById("type")

                const result = Craps_Roll(Balance, Bet, bet_type, null)
                
                var outputElement = document.getElementById('output');
                outputElement.textContent = "Balance: " + result[0];
            }

            }

        );
    </script>
</body>
</html>